# Ignore node_modules and other build artifacts
node_modules
specs
.cbc-inj
pnpm-workspace.yaml
.env
# Useless stuff
scripts/setup-hooks.js
dist
data
__test__
# Boring stuff i made 
weao-fx 
generateTranscript.js
